/* Copyright (c) 2021 Ease Attendance - Varun Chitturi */
html, body {
    height:100%;
    margin:0;
    padding:0;
}
header{
    width: 100%;

    position: fixed;
    top: 0;
    height: 200px !important;
    opacity:.8;
}
.doc-link:before{
    display: block;
    content: " ";
    margin-top: -285px;
    height: 285px;
    visibility: hidden;
    pointer-events: none;

}
.doc-link-2:before{
    height: 555px;
    visibility: hidden;


}
video:focus{
    outline: none!important;
    border: none!important;
}
.sidebar1 {
    padding: 30px;
    padding-top: 80px;
    background: #ffffff;
    overflow-y: scroll;
    top:60px;
    bottom:0px;
    width: 300px;
    position:fixed;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -o-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
}

.sidebar1 {
    left:0!important;
    z-index: 1000;
}
.guide-list {
    list-style: none;
    counter-reset: item;
}
.guide-list-element {
    counter-increment: item;
    margin-bottom: 25px;
}
.noNumberElement{
    margin-bottom: 15px;
}
.guide-list-element:before {
    font-size: 18px;
    margin-right: 10px;
    content: counter(item);
    background: #ffffff;
    border-radius: 100%;
    border: #4e4e4e 1px solid;
    width: 30px;
    height: 30px;
    text-align: center;
    display: inline-block;
}
.step-title{
    margin-bottom: 20px;
}
.indent{
    margin-left: 30px;
}
.guide-li{
    margin-bottom: 15px;
}
h2{
    margin-bottom: 20px;
}
h1{
    margin-bottom: 15px;
}

.secondary{
    font-size: 14px;
    color: grey;
}
#scrollable2 {
    overflow-x: hidden;
    margin-left: 30%;
    margin-top: 150px;
}
.guide-img{
    width: 830px;
    margin-top: 10px;
    margin-bottom: 30px;
    box-shadow: 4px 4px 10px 4px #e9e9e9;
    border-radius: 10px;
}


.zoom-button-doc{
    margin-left: 150px!important;
    margin-top: 10px!important;
    margin-bottom: 10px!important;
}
.zoom-button{
    margin-top: 15px;
    margin-bottom: 30px;
    width: 133px;
    display: inline-block;

    background-color: white;
    border: 1px solid #2a6ee2;
    padding-right: 10px !important;
    padding-left: 10px !important;
    border-radius: 20px;
    box-shadow: 0 4px 4px rgba(177, 177, 177, 0.25) !important;
}
#participantNumImg{
    width: 300px;
}
#refreshImg{
    width: 400px;
}
#sign-up{
    margin-left: 170px!important;
    margin-top: 10px!important;
    margin-bottom: 15px!important;
}
.zoom-button:hover{
    background-color: #2a6ee2;
    color: white;
}
.row {
    padding: 20px;
    display: flex;
    justify-content: center;
}
.webex-button{
    margin-left: 10px;
    margin-top: 15px;
    width: 133px;
  
    background-color: white;
    border: 1px solid #44bef3;
    padding-right: 10px !important;
    padding-left: 10px !important;
    border-radius: 20px;
    box-shadow: 0 4px 4px rgba(177, 177, 177, 0.25) !important;
  }
  .webex-button:hover{
    background-color: #44bef3;
    color: white;
  }

@media (max-width: 1330px) {
    .guide-img{
        width: 500px;

    }
    #scrollable2 {
        margin-left: 35%;
        margin-top: 150px;
    }
    iframe{
        width: 500px;
    }

}
@media (max-width: 991px) {
    .sidebar1 {
        display: none;
    }
    .guide-img{
        width: 550px;

    }
    #scrollable2 {
        margin-left: 30px;
        margin-top: 150px;
    }
    .indent{
        margin-left: 0;
    }
    ul{
        padding-left: 0;
    }
    ol{
        padding-left: 0;
    }
    .zoom-button-doc{
        margin-left: 0!important;
    }
    .webex-button-doc{
        margin-left: 0!important;
    }
    #sign-up{
        margin-left: auto!important;

    }
}

@media (max-width: 767px) {

    .guide-img{
        width: 350px;

    }
    #scrollable2 {
        margin-left: 15px;
        margin-top: 150px;
    }


}
